body{
    margin: o auto;
}

/*HEADER*/
.head{
    background-color: #ffffff;
    height: 80px;
}
.head .name{
    display: inline-block;
    background-color: #4aaaa5;
    width: 20%;
    height: 88px;
    text-align: center;
    margin-left: 210px;
}
.head .name h1{
    color: white;
    font-weight: bold;
    font-size: 29px;
    line-height: 2.6;
    letter-spacing: 0.5px;
}
.head .nav{
    display: inline-block;
    float: right;
    height: 80px;
    width: 34%
}
.head .nav ul li {
display: inline-block;
font-size: 21px;
margin-left: 15px;
line-height: 4;
}
.head .nav ul li +li::before{
    content: "";
    display: inline-block;
    height: 14px;
    margin-right: 26px;
    border-left: 0.2px solid #777777;
}
.head .nav ul li a{
cursor: pointer;
color: #777777;
text-decoration: none;
}
 hr{
    height: 2.5px;
    border:none;
    background-color: #d5d2d2;
}
/*CONTENT*/
#cont{
    background-image:url("./img/concrete_seamless.png");
    margin-top: -10px;
    height: 642px;
}
.content{
    width: 588px;
    margin: 10px auto;
    background-color: #ffffff;
    height: 573px;
    position: relative;
    top: 30px;
    left: -235px;
}
.content .left{
    width: 580px;
    float: left;
}
.content .left .box{
    padding: 33px;
}
 h2{
    font-size: 38px;
    font-weight: bold;
    color: #4aaaa5;
    margin-bottom: 23px;
}
.content .left .box .bottom{
    margin-top: 23px;
}
.content .left .box .bottom form{
  /* height: 400px; */
  color: gray;
  font-size: 19px;
}
.content .left .box .bottom form label{
    display: block;
    line-height: 2;
}
.content .left .box .bottom form input{
    padding: 8px 8px;
    width: 498px;
    border: 1px solid #ccc;
}
.content .left .box .bottom form textarea{
    border: 1px solid #ccc;
}
.content .left .box .bottom form .submit{
    display: block;
    text-decoration: none;
    width: 107px;
    text-align: center;
    height: 35px;
    line-height: 1.8;
    color: white;
    background-color:#4aaaa5;
    font-size: 17px;
    margin-top: 15px;
}
.content .left .box .bottom form .submit:hover{
    background-color: #3d8783;
    cursor: pointer;
}
 .content .sag{
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    height: 203px;
    width: 315px;
    margin-left: 90px;
}
 .content .sag .box{
    width: 280px;
    margin-top: 27px;
    text-align: center;
}
.content .sag hr{
    margin-left: 37px;
    width: 227px;
}
 .content .sag .box ul li{
    display: inline-block;
    padding: 3px
}
 .content .sag .box ul li img{
    width: 62px;
    margin-top: 17px;
}
.footer{
    margin-top: auto;
}
.footer .footer-top{
    background-color: #4fbbb6;
    height: 15px;
}
.footer .footer-bottom{
    background-color: #666666;
    height: 94px;
}
.footer .footer-bottom p{
    color: rgba(232, 226, 226,0.8);
    font-size: 14px;
    line-height: 6;
    text-align: center;
}

