body{
    margin: o auto;
}

/*HEADER*/
.head{
    background-color: #ffffff;
    height: 80px;
}
.head .name{
    display: inline-block;
    background-color: #4aaaa5;
    width: 20%;
    height: 88px;
    text-align: center;
    margin-left: 210px;
}
.head .name h1{
    color: white;
    font-weight: bold;
    font-size: 29px;
    line-height: 2.6;
    letter-spacing: 0.5px;
}
.head .nav{
    display: inline-block;
    float: right;
    height: 80px;
    width: 34%
}
.head .nav ul li {
display: inline-block;
font-size: 21px;
margin-left: 15px;
line-height: 4;
}
.head .nav ul li +li::before{
    content: "";
    display: inline-block;
    height: 14px;
    margin-right: 26px;
    border-left: 0.2px solid #777777;
}
.head .nav ul li a{
cursor: pointer;
color: #777777;
text-decoration: none;
}
 hr,.hr2{
    height: 2.5px;
    border:none;
    background-color: #d5d2d2;
}
.hr2{
    width: 611px;
    margin-left: 0;
}
/*CONTENT*/
#cont{
    background-image:url("./img/concrete_seamless.png");
    margin-top: -10px;
    height: 955px;
}
.content{
    width: 680px;
    margin: 10px auto;
    background-color: #ffffff;
    height: 888px;
    position: relative;
    top: 30px;
    left: -180px;
}
.content .left{
    width: 720px;
    float: left;
}
.content .left .box{
    padding: 33px;
}
 h2{
    font-size: 36px;
    font-weight: bold;
    color: #4aaaa5;
    margin-bottom: 23px;
}
.content .left .box .bottom{
    margin-top: 23px;
}
.content .left .box .bottom ul{

}
.content .left .box .bottom ul li{
    display: inline-block;
}
.content .left .box .bottom ul li .card{
    width: 290px;
    height: 200px;
    padding-right: 25px;
}
.content .left .box .bottom ul li .card img{
    width: 100%;
    opacity: 0.8;
}
.content .left .box .bottom ul li .card .color{
    height: 62px;
    display: inline-block;
    width: 100%;
    background-color: #4aaaa5;
    z-index: 9;
    position: relative;
    bottom: 76px;
}
.content .left .box .bottom ul li .card .color p{
    color: white;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    line-height: 2.8;
}
 .content .sag{
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    height: 203px;
    width: 293px;
    margin-left: 43px;
}
 .content .sag .box{
    width: 280px;
    margin-top: 27px;
    text-align: center;
}
.content .sag hr{
    margin-left: 37px;
    width: 227px;
}
 .content .sag .box ul li{
    display: inline-block;
    padding: 3px
}
 .content .sag .box ul li img{
    width: 62px;
    margin-top: 17px;
}
.footer{
    /* margin-top: auto; */
}
.footer .footer-top{
    background-color: #4fbbb6;
    height: 15px;
}
.footer .footer-bottom{
    background-color: #666666;
    height: 44px;
    text-align: center;
}
.footer .footer-bottom p{
    color: rgba(232, 226, 226,0.8);
    font-size: 14px;
    line-height: 3;
}

